*,*::after, *::before{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    width:100%;
    height:100%;
}
:root{
    --board-width:600px;
    --board-height:600px;
    --cells:20;

}

.water{
    width:calc(var(--board-width) + var(--board-width) + 25px);
    height : calc(var(--board-height) + var(--board-height) + 25px);
    margin-left: 10vw;
    margin-top: 10vh;

    display: flex;
    gap: 25px;

}

.game-board{
    width:var(--board-width);
    height : var(--board-height);
    display: flex;
    flex-wrap: wrap;
}
.coOrdinate{
    height:calc(var(--board-height) / var(--cells));
    width:calc(var(--board-width) / var(--cells));
    border:0.1px solid rgb(153, 189, 240);
}

/* .ship{
    height:calc(var(--board-height) / var(--cells));
    width:calc(var(--board-width) / var(--cells));
    box-sizing: border-box;
    border:1px solid rgb(3, 12, 26);
  
} */

.option_container{

    width : 500px;
    height : 80px;
    margin-left: 45vw;
    margin-top:25px;

    background-color: yellow;
    display:flex;
    justify-content:center;
    align-items: center;
}

.submarine{
    background-color:blue;

}

.carrier{
    background-color:green;
}

.destroyer{
    background-color:red;
}

.fleet{
    background-color:black;
}

.battleship{
    background-color:violet;
}


.carrier-preview{
    width:60px;
    height:20px;
    margin:3px;
    border-radius: 5px;
    cursor:move;
}

.submarine-preview{
    width:50px;
    height:20px;
    margin:3px;
    border-radius: 4px;
    cursor:move;
}

.battleship-preview{
    width:40px;
    height:20px;
    margin:3px;
    border-radius: 2px;
    cursor:move;
}

.fleet-preview{

    width:50px;
    height:20px;
    margin:3px;
    border-radius: 1px;
    cursor:move;
}

.destroyer-preview{

    width:30px;
    height:20px;
    margin:3px;
    border-radius: 3px;
    cursor:move;

}

.buttonContainer{

    width: 206px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 55vw;
    margin-top: -75vh;
}

.flipButton,.startButton{

    width: 90px;
    height: 40px;
    color: black;
    border-radius: 3px;
    font-size: medium;
    font-weight: bold;
}

.startButton:hover,.flipButton:hover{


    color:rgb(64, 246, 9)
}

.hover{
    background-color:grey;
}

.boom{
    background-color:red;
}

.empty{
    background-color:grey;
}

.center{
    display: flex;
    margin-top: 10vh;
    overflow: hidden;
}

